alabaster
appdirs
argh
arrow
astor
astroid
async-timeout
async_generator
atomicwrites
attrs
autopep8
babel
backcall
#backports
#backports.functools_lru_cache
bcrypt
binaryornot
black
#blas
bleach
blinker
brotlipy
#ca-certificates
cachetools
#certifi
#cffi
chardet
click
cloudpickle
colorama
cookiecutter
cryptography
#cudatoolkit
#cudnn
cycler
dataclasses
decorator
defusedxml
diff-match-patch
docutils
entrypoints
flake8
#freetype
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
#hdf5
icu
idna
idna_ssl
imagesize
#importlib-metadata
importlib_metadata
inflection
intel-openmp
intervaltree
ipykernel
ipython
ipython_genutils
isort
#jbig
jedi
jinja2
jinja2-time
joblib
#jpeg
jsonschema
jupyter_client
jupyter_core
jupyterlab_pygments
keras
keras-applications
keras-multi-head
keras-preprocessing
keras-self-attention
keyring
kiwisolver
krb5
lazy-object-proxy
#lcms2
lerc
#libblas
#libcblas
libclang
libcurl
libdeflate
libgpuarray
liblapack
libpng
libprotobuf
libsodium
libspatialindex
libssh2
libtiff
libuv
llvmlite
lz4-c
m2w64-gcc-libgfortran
m2w64-gcc-libs
m2w64-gcc-libs-core
m2w64-gmp
m2w64-libwinpthread-git
mako
markdown
markupsafe
matplotlib
mccabe
mistune
mkl
mkl-include
msys2-conda-epoch
multidict
mypy_extensions
natsort
nbclient
nbconvert
nbformat
nest-asyncio
ninja
numba
numpy
numpydoc
oauthlib
olefile
openjpeg
openssl
opt_einsum
packaging
pandas
pandoc
pandocfilters
paramiko
parso
pathspec
pexpect
pickleshare
pillow
pip
pluggy
poyo
prompt-toolkit
protobuf
psutil
ptyprocess
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydocstyle
pyflakes
pygments
pygpu
pyjwt
pylint
pyls-black
pyls-spyder
pynacl
pyopenssl
pyparsing
pyqt
pyqt-impl
pyqt5-sip
pyqtchart
pyqtwebengine
pyreadline
pyrsistent
pyrtlsdr
pysocks
python
python-dateutil
python-jsonrpc-server
python-language-server
python_abi
pytorch
pytz
pywin32
pywin32-ctypes
pyyaml
pyzmq
qdarkstyle
qstylizer
qt
qtawesome
qtconsole
qtpy
regex
requests
requests-oauthlib
rope
rsa
rtree
scikit-learn
scipy
seaborn
setuptools
six
sklearn
snowballstemmer
sortedcontainers
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
sqlite
stft
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-base
tensorflow-estimator
tensorflow-gpu
termcolor
testpath
textdistance
theano
threadpoolctl
three-merge
tinycss2
tk
toml
torchaudio
torchvision
tornado
traitlets
typed-ast
#typing-extensions
typing_extensions
ujson
urllib3
vc
vs2015_runtime
vs2017_win-64
vswhere
watchdog
wcwidth
webencodings
werkzeug
wheel
whichcraft
win_inet_pton
wincertstore
wrapt
xz
yaml
yapf
yarl
zeromq
zipp
zlib
zstd